<div class="select-container form-group has-feedback">
    <label for="<%= id %>"><%= label %></label>
    <select class="chosen" id="<%= id %>" data-placeholder="<%= placeholder %>">
    </select>
</div>